<div class="container-fluid" style="padding-top: 20px; padding-left: 20px;">
  <div class="row">
      <div class="col-4">
          <table class="table table-hover" style="width: 440px;">
              <thead>
                  <tr>
                      <th style="width: fit-content;">#</th>
                      <th style="width: fit-content;">Nombre</th>
                      <th style="width: fit-content;">Pais</th>
                      <th style="width: fit-content;">Genero</th>
                      <th>Fundacion</th>
                  </tr>
              </thead>
              <tbody style="background-color: #f2f2f2;">
                <tr *ngFor="let b of Bandas">
                  <td>
                    <dd>{{b.id}}</dd>
                  </td>
                  <td>
                    <dd><button class="btn btn-link" id="bandaBoton${{b.name}}" style="padding: 0;" (click)="onSelected(b)">{{b.name}}</button></dd>
                  </td>
                  <td>
                    <dd>{{b.country}}</dd>
                  </td>
                  <td>
                    <dd>{{b.genre}}</dd>
                  </td>
                  <td>
                    <dd>{{b.foundation_year}}</dd>
                  </td>
                </tr>
              </tbody>
          </table>
          <div style="padding-left: 15px;"><p>La banda más antigua es {{bandaAntigua}} y fue fundada hace {{(bandaAnio).toString()}}</p></div>
      </div>
      <div class="col" id="infocard">
        <div class="selected-banda rounded" *ngIf="selected">
          <app-banda-detalle [bandadetalle]="selectedBanda"></app-banda-detalle>
        </div>
      </div>
  </div>
</div>


